{% extends 'base.html' %}
{% block content %}
<h2>Meeting Details</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Agenda</th>
    </tr>
    {% for m in meeting_detail %}
    <tr>
        <td>{{ m.meetingname }}</td>
        <td>{{ m.meetingdate }} </td>
        <td>{{ m.meetingtime }}</td>
        <td>{{ m.meetinglocation }}</td>
        <td>{{ m.meetingagenda }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}